@media screen and (min-width: 576.1px) {
  .nav-bar {
    display: none;
  }

  header {
    background: linear-gradient(#111111 0%, rgba(119, 119, 119, 0) 100%);
    /* background:#111111; */
  }

  body {
    background: #111111;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 11.875rem;
    margin-right: 11.875rem;
    padding-top: 3rem;
  }
  .nav-op ul li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
  }

  .nav-op ul li a:hover {
    background: #e6533c;
    border-radius: 2.25rem;
  }

  .header-banner {
    display: flex;
    justify-content: space-between;
    margin-left: 11.875rem;
    margin-right: 13.375rem;
  }

  .header-banner-part-1 {
    width: 32.5rem;
    height: 27.5rem;
  }

  #hbp-1-h {
  }

  .banner-button-1 {
    display: flex;
    gap: 0.875rem;
  }

  .download-now {
  }

  .header-banner-part-2 {
  }

  .video-tutorial {
    width: 12.875rem;
    height: 4rem;
    font-size: 1rem;
    background: local;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    position: absolute;
    left: 53.375rem;
    top: 34.75rem;
    backdrop-filter: blur(10px);
  }

  .free-vidoes {
    width: 12.0625rem;
    height: 6.125rem;
    background: local;
    border-radius: 0.75rem;
    position: absolute;
    left: 73.75rem;
    top: 21.25rem;
    backdrop-filter: blur(10px);
  }
  .section-1-collage {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
  .section-1 {
    margin-right: 12.375rem;
    margin-left: 12.375rem;
    text-align: center;
  }
  .section-1-collage {
    padding-top: 13.625rem;
  }
  .section-2 {
    margin-left: 11.875rem;
    margin-right: 11.875rem;
    margin-top: 10rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1.125rem;
  }
  #section-2 {
    display: flex;
    justify-content: space-between;
  }
  .section-2-part-1 {
    max-width:27.6875rem;
    max-height: 11.875rem;
  }
  .section-2-part-1-title {
    font-size: 3rem;
    font-weight: 900;
    padding-left: 3.375rem;
    padding-top: 2.5625rem;
  }
  .section-2-part-1-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    padding-top: 0.875rem;
    padding-left: 3.375rem;
  }
  .join-now {
    width: 14rem;
    height: 3.375rem;
    background: #e6533c;
    border-radius: 2.625rem;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 2.125rem;
    border: none;
    margin-left: 3.375rem;
  }
  .section-2-part-2 {
    padding: 1.875rem;
  }
  .section-2-part-2 img {
    max-width: 34.125rem;
    max-height: 30.75rem;
  }
  .section-3 {
    margin-right: 11.875rem;
    margin-left: 11.875rem;
    margin-top: 6.25rem;
    margin-bottom: 5.5rem;
  }
  .section-3-title {
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
  }
  .section-3-des {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    /* padding-left: 1.25rem; */
    padding-right: 23.875rem;
    padding-bottom: 2.375rem;
  }
  .section-3-collages-part-1,
  .section-3-collages-part-2 {
    display: flex;
  }
  .image-1 {
    width: 15.625rem;
    height: 12.59375rem;
  }
  .image-2 {
    width: 32.5rem;
    height: 12.59375rem;
  }
  .image-3 {
    width: 18.125rem;
    height: 12.59375rem;
  }
  .image-4 {
    width: 26.5625rem;
    height: 12.59375rem;
  }
  .image-5 {
    width: 25.5rem;
    height: 12.59375rem;
  }
  .image-6 {
    width: 21.6875rem;
    height: 12.59375rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .section-4-part-1 {
    margin-right: 24.03125rem;
    margin-left: 24.03125rem;
    text-align: center;
  }
  .section-4-part-1-title {
    font-size: 3rem;
    font-weight: 900;
  }
  .section-4-part-1-des {
    font-size: 0.875rem;
  }
  .section-4-part-2 {
    margin-top: 5.5rem;
    /* background: rgba(255, 255, 255, 0.5); */
    background: rgba(34, 34, 34, 1);
  }
  .section-4-part-2-part-1 {
  }
  .section-4-part-2-part-1-title {
    font-size: 1.75rem;
    font-weight: 900;
    padding-bottom: 3.25rem;
    padding-top: 3.25rem;
  }
  .form-title {
    font-size: 1.75rem;
    font-weight: 900;
    padding-top: 3.0625rem;
  }
  .form-des {
    max-width: 36.0625rem;
    padding-bottom: 2.125rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .section-4-part-2 {
    display: flex;
    justify-content: space-evenly;
  }
  input {
    width: 17.625625rem;
    height: 3rem;
    font-size: 1rem;
  }
  .line-2 select {
    width: 17.625625rem;
    height: 3rem;
    font-size: 1rem;
    /* color: rgba(255, 255, 255, 0.6); */
    color: rgba(204, 204, 204, 1);
  }
  .line-3 select {
    width: 36.0625rem;
    height: 3rem;
    /* color: rgba(255, 255, 255, 0.6); */
    color: rgba(204, 204, 204, 1);
    background: rgba(204, 204, 204, 1);
    font-size: 1rem;
  }
  .line-1,
  .line-2,
  .line-3 {
    padding-bottom: 0.75rem;
  }
  .section-5-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 5.5rem;
  }
  .section-5-des{
    text-align: center;
    padding-top: 0.875rem;
    font-weight: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .section-5-collage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-right: 11.875rem;
    margin-left: 11.875rem;
    margin-top: 3.625rem;
    gap: 1.25rem;
    background:rgba(34, 34, 34, 1);
    border: none;
    border-radius: 1.125rem;
  }
  .section-5-div-1,.section-5-div-2,.section-5-div-3{
    padding-top: 1.25rem;
    border: none;
    border-radius: 1.125rem;
  }
  .section-5-div-4,.section-5-div-5,.section-5-div-6{
    padding-bottom: 1.25rem;
    border: none;
    border-radius: 1.125rem;
  }
  .section-5-div-1,.section-5-div-4{
    padding-left: 1.25rem;
  }
  .section-5-div-3,.section-5-div-6{
    padding-right: 1.25rem;
  }
  .footer-part-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-right: 11.875rem;
    margin-left: 11.875rem;
    padding-top: 4.125rem;
  }
  .footer-part-2-part-1-options ul li{
    padding-bottom: 2.4375rem;
  }
  .footer-part-2-part-2-options ul li{
    padding-bottom: 2.4375rem;
  }
  hr{
    margin-right: 11.875rem;
    margin-left: 11.875rem;
  }
}